<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lister Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Lister Watch Glance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Lister.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ListerKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ListerKitOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ListerOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ListerToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ListerTodayOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>163275F918AD468F00A97A9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1632761D18AD468F00A97A9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1633C7301939337F00A9CC5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>163A6C9F1906ED4C008E1930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16EB5ECA1936D39400532A4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E04D0EB19D9FB7500C59A0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E2517C6197F7D9600B8AF96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E745ECA190880F30090B20E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E95066F198575570030A9D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
